.editProfile {
    h2{
        text-align: left;
    }
  .avatar {
    background-color: rgb(30, 30, 30);
    min-height: 400px;
    max-width: 400px;
    border-radius: 50% !important;
    // margin-bottom: -10px;
  }

  .p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  
  }

  .isVerified{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;

    i{
      // transform: translateY(3px);
    font-size: 1em;

    }
  }
  

  .title{
    margin: 1em 0;
  }
  .verified{
    color: $dblue;

  }
  .notverified{
    background: none;
    padding:.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;

  }

  .form{
    margin: 2em 0;
  }
  .bottom{
    margin-top: 2em;
  }

  .avatarWrap {
    min-height: 400px;
    max-width: 400px;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    overflow: hidden;
    position: relative;
    width: 100% !important;
    //   min-height: 500px;
    //   height: 30vw;
    label {
      position: absolute;
      bottom: 0px;
      right: 0px;

      padding: 1em 1.2em;
      i {
        font-size: 2.5rem;
      }
      border-radius: 50%;
      border: none;
      font-size: 1.1em;
      font-weight: bold;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
}
