.explore {
  .top {
    width: 100%;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    width: 100%;
  }
  .select{
    width: 100%;
    max-width: 20em;
    font-size: 1em;
    
    
  }
  .css-1s2u09g-control{
    border:5px solid gray;
    border-radius: .5em;
    outline: none;
  }

.search{
    display: flex;
    gap:1em;
}

.listProduct{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

  
}
