.productpage {
  h1{
    font-size: 5rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2em;
  }

  .rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .2em .8em;
    border-radius: 1em;
  }

  .actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
  }
  .top {
    width: 100%;
    display: flex;
    margin-bottom: 3em;
    

    .left,
    .right {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      img {
        width: 100%;
        border-radius: 1em;
        
      }
      .inRight {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1em;
      
        
        h2,p {
          text-align: left;
          width: 100%;
        }
      }
    }

    .right{
      position: sticky !important;
      top: 3em;
      height: fit-content;
      padding: 2em;
    }
  }


  .actions{
    flex-wrap: wrap;
  }
  .prouctdetails{
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0;
    gap: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;


    .productdetailsIn{
      flex-wrap: wrap;
    }

    .one{
        width: 100%;
        // min-width: max-content;
        padding: 1em;
        max-width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 1em;

    }
  }

  .ownerdetails{
    margin-bottom: 3em;
  }
}
