.queries{
    .wrapper{
        display: flex;
        position: relative;
        .left,.right{
            width: 100%;
        }
    }

      .form{
        position: sticky;
        top: 2em;
    }
    .right{
        .Qcard{
            height: 20em;
            background-color: aqua;
        }
    }
}