.queries{
    position: relative;

    .wrapper{
        display: flex;
        .left,.right{
            width: 100%;
        }
        .form{
            position: sticky;
            top: 10em;
            height: fit-content;
        }
    }

    h2{
        position: sticky;
        position: -webkit-sticky;
    }

    .right{
        .Qcard{
            height: 20em;
            background-color: aqua;
        }
    }
}