@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");
.footer {
  background: black;
}
.footer * {
  color: white;
}
.footer .mid {
  display: flex;
  gap: 3em;
}
.footer .bottom {
  color: white;
  width: 100%;
}
.footer .end {
  display: flex;
  gap: 1em;
}
.footer .end i {
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .mid {
  display: flex;
  gap: 3em;
}

.prodCard {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  padding: 1em;
  border-radius: 1em;
}
.prodCard img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.prodCard h3, .prodCard p {
  width: 100%;
  text-align: center;
}

.addproduct .form {
  width: 100%;
  margin: 2em 0;
}
.addproduct .form .avatar {
  background-color: rgb(30, 30, 30);
  min-height: 600px;
  margin-bottom: 0px;
  border-radius: 1em;
}
.addproduct .form .right,
.addproduct .form .left {
  width: 100%;
}
.addproduct .form .right .rentInp {
  gap: 1em;
}
.addproduct .form .right .category, .addproduct .form .right .rent {
  max-width: 40rem;
}
.addproduct .form .right .category .rentInp, .addproduct .form .right .rent .rentInp {
  display: flex;
}
.addproduct .form .avatarWrap {
  min-height: 600px;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}
.addproduct .form .avatarWrap img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
.addproduct .form .avatarWrap label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 1em 1.2em;
  border-radius: 1em;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
.addproduct .form .avatarWrap label i {
  font-size: 2.5rem;
}
.addproduct .form .avatarWrap input {
  display: none;
}

.editProfile h2 {
  text-align: left;
}
.editProfile .avatar {
  background-color: rgb(30, 30, 30);
  min-height: 400px;
  max-width: 400px;
  border-radius: 50% !important;
}
.editProfile .form {
  margin: 2em 0;
}
.editProfile .bottom {
  margin-top: 2em;
}
.editProfile .avatarWrap {
  min-height: 400px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}
.editProfile .avatarWrap img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.editProfile .avatarWrap label {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 1em 1.2em;
  border-radius: 50%;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
.editProfile .avatarWrap label i {
  font-size: 2.5rem;
}
.editProfile .avatarWrap input {
  display: none;
}

.home .top {
  min-height: 70vh;
  border-radius: 1em;
}
.home .top h1 {
  font-size: 7rem;
  max-width: 15ch;
  text-align: center;
  line-height: 7.2rem;
  color: white;
  text-shadow: 0px 0px 100px rgb(58, 58, 58);
}
.home .hero {
  background-size: cover;
}
.home h2 {
  text-align: center;
  font-size: 3em;
  margin: 2em 0;
}
.home .why, .home .how {
  margin-top: 5em;
  flex-wrap: wrap;
}
.home .card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-width: 15em;
  width: 30%;
  flex-grow: 1;
}
.home .card i {
  font-size: 5em;
}
.home .card p {
  text-align: center;
}

.queries {
  position: relative;
}
.queries .wrapper {
  display: flex;
}
.queries .wrapper .left, .queries .wrapper .right {
  width: 100%;
}
.queries .wrapper .form {
  position: -webkit-sticky;
  position: sticky;
  top: 10em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.queries h2 {
  position: sticky;
  position: -webkit-sticky;
}
.queries .right .Qcard {
  height: 20em;
  background-color: aqua;
}

.login {
  min-height: 100vh !important;
}
.login .left, .login .right {
  flex-grow: 1;
  width: 100%;
}
.login .left .btns {
  width: 100%;
}
.login .left .btns button {
  background: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.login .form {
  width: 100%;
}
.login .form div {
  gap: 1em;
}
.login .form .fgtp {
  text-align: right;
  width: 100%;
  color: #C28949;
}
.login .right {
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(83, 194, 73) 0%, rgb(122, 172, 220) 100%);
}
.login .right h1 {
  text-align: center;
}
.login .right p {
  text-align: center;
}
.login .img {
  width: 15em;
}

.sendemail {
  min-height: 100vh;
  width: 100%;
}

.explore .top {
  width: 100%;
}
.explore h2 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
}
.explore .select {
  width: 100%;
  max-width: 20em;
  font-size: 1em;
}
.explore .css-1s2u09g-control {
  border: 5px solid gray;
  border-radius: 0.5em;
  outline: none;
}
.explore .search {
  display: flex;
  gap: 1em;
}
.explore .listProduct {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.productpage .top {
  width: 100%;
  display: flex;
  margin-bottom: 3em;
}
.productpage .top .left,
.productpage .top .right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productpage .top .left img,
.productpage .top .right img {
  width: 100%;
}
.productpage .top .left .inRight,
.productpage .top .right .inRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productpage .top .left .inRight p,
.productpage .top .right .inRight p {
  text-align: left;
  width: 100%;
}
.productpage .prouctdetails {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.productpage .prouctdetails .one {
  width: 100%;
  max-width: 30rem;
}
.productpage .ownerdetails {
  margin-bottom: 3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: blueviolet 1px solid;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: bolder;
}

h2 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

p, div {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  padding: 2em;
  min-height: 80vh;
}

.padd {
  padding: 2em;
}

button {
  padding: 1em 2em;
  border-radius: 1em;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background-color: gray !important;
  color: black !important;
  cursor: not-allowed;
}

input, textarea, select {
  padding: 1em 1.2em;
  font-size: 1em;
  border-radius: 1em;
  border: 5px solid gray;
  outline: none;
  width: 100%;
  max-width: 40rem;
}

select {
  width: unset;
  border: none;
}

input:focus, textarea:focus {
  border: 5px solid #05396B;
}

.blue {
  background-color: #7AACDC;
  color: #05396B;
}

.green {
  background-color: #D5F3D2;
  color: #53C249;
}

.yellow {
  background-color: #F3E0D2;
  color: #C28949;
}

.red {
  background-color: #EE8888;
  color: #BB0303;
}/*# sourceMappingURL=index.css.map */